Import from Wikipedia List of postal codes of Canada

In [1]:
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
table = pd.read_html(url)[0]

In [3]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 3 columns):
Postcode         288 non-null object
Borough          288 non-null object
Neighbourhood    288 non-null object
dtypes: object(3)
memory usage: 6.8+ KB

In [4]:
table = table[table['Borough']!='Not assigned'] #Drop the rows that contatins the "Not assigned" in the column "Borough"

In [5]:
table.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [6]:
table = table.groupby(['Postcode', 'Borough'],as_index=False).agg(', '.join) #Aggregate rows with same Postcode

In [7]:
table[table['Borough'].str.contains('Queen')]

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

In [8]:
#create a function for change "Not assigned" in the "Neighbourhood" for the BoroughÂ´s name

def __assigned__(x, y):
    if y == "Not assigned":
        return x
    else:
        return y

In [9]:
x = table

table["Neighbourhood"] = table.apply(lambda x: __assigned__(x["Borough"], x["Neighbourhood"]), axis=1)

In [10]:
table[table['Borough'].str.contains('Queen')] #Verify that all be ok.

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

In [11]:
table.shape

(103, 3)